server:
  port: ${PORT:8080}
spring:
  application:
    name: FleetScore
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/fleetscore}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
